body {
    font-family: sans-serif;
}

header {
    background-color: rgb(40, 40, 212);
    padding: 10px;
}

header img {
    padding: 5px;
}

header a {
    text-decoration: none;
    color: black;
    background-color: orange;
    border-radius: 8px;
    padding: 3px;
}

main h1 {
    text-align: center;
}

h2 {
    color: red;
}

ul {
    list-style: url("https://learn.algoritmika.org/uploads/2021/01/Arrow%201_0_1611261359.svg");
    margin: 15px;
}

footer {
    background-color: rgb(9, 9, 166);
}

footer p {
    padding: 10px;
    color: white;
}

.gb1 {
     border-top: 5px solid black;
     border-bottom: 5px solid black;
     padding: 20p;
}
